@import "./mixins.scss";

.about {
  &-background {
    margin-bottom: 2rem;
    border-radius: 6px;
    background: rgb(50, 10, 19);
    background: radial-gradient(
      circle,
      rgba(36, 39, 59, 0.4498079016762955) 0%,
      #151728 100%
    );
  }
  &-container {
    width: 80%;
    max-width: 120rem;
    margin: 0 auto;
    position: relative;
    @include maxw(483) {
      width: 90%;
    }
  }

  &-paragraph {
    color: #ffffff;
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 400;
  }

  &-header {
    width: 50%;
    margin: 4rem auto;
    @include maxw(890) {
      width: 75%;
    }
    @include maxw(483) {
      width: 100%;
    }
  }
}
