@import "./mixins.scss";

@font-face {
  font-family: FontX;
  src: url("../assets/fonts/fontregular.woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: FontX;
  src: url("../assets/fonts/fontmedium.woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: FontX;
  src: url("../assets/fonts/fontbold.woff2");
  font-weight: 600;
  font-display: swap;
}

*,
*:before,
*:after {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  //scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: FontX, "Neue Helvetica W02", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  background-color: #151728;
  color: #fff;
}

ul {
  padding: 0;
}

// Scrollbar

/* width */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #151728;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1488fa;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #151728;
}

.app {
  &-container {
    min-height: 100vh;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
  }

  &-item {
    margin: 0 auto;
    &--GithubFeed {
      flex-basis: 20%;
      padding: 2rem;
      border-radius: 6px;
      margin-top: 2rem;
      margin-right: 2rem;
      margin-bottom: 2rem;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      @include maxw(1174) {
        display: none;
      }
    }

    &--Main {
      flex-basis: 80%;
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include maxw(1174) {
        flex-basis: 100%;
      }
    }

    &--SocialMedia {
      //flex-basis: 15%;
      display: none;
      border-radius: 6px;

      margin-top: 2rem;
      margin-right: 2rem;
      margin-bottom: 2rem;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }

    &--closed {
      flex-basis: 5%;
      height: 30rem;
      overflow: hidden;
      display: none;
    }
  }
}

.btn {
  cursor: pointer;
  background-color: #1488fa;
  border: none;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 4px #1b86f9;
  border-radius: 4px;
  padding: 1rem 2rem;
  margin-left: 2rem;
  outline: none;
  font-size: 1.4rem;
  line-height: 1.4rem;
  transition: all 0.3s;
  white-space: nowrap;

  &:hover {
    box-shadow: none;
  }
  &-secondary {
    box-shadow: none;
    background-color: #1b1d2e;
    border: 1px solid #1488fa;
    margin-left: 2rem;
    &:hover {
      background-color: #1488fa;
    }
  }
}
