.footer {
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #010101;
  position: relative;
  padding: 1.5rem 1.25rem;

  &__contact-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0b0b0b;
    padding: 3rem;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  &__item {
    &:not(:last-child) {
      margin-right: 3rem;
    }
    & h3 {
      font-size: 3.2rem;
      line-height: 3.6rem;
      font-weight: 600;
      color: #fff;
      letter-spacing: -3px;
      white-space: nowrap;
    }

    & p {
      font-size: 1.8rem;
      line-height: 2.7rem;
      font-weight: 400;
      text-align: center;
    }

    & .contact-button {
      white-space: nowrap;
      border-radius: 8px;
      padding: 1rem 2rem;
      background-color: #fff;
    }
  }

  &-logo {
    width: 3rem;
    margin: 0 auto;
    margin-top: 10rem;

    & img {
      width: 100%;
      animation: pulse 3s infinite;

      &:hover {
        filter: brightness(1000%);
      }
    }
  }

  &-content {
    color: #858585;
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 400;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
  }

  &__social-media {
    display: flex;
    margin: 0;
  }

  &__icon {
    margin-right: 1rem;

    &:hover {
      filter: brightness(1000%);
    }
  }
}

@keyframes pulse {
  0% {
    filter: brightness(100%);
  }

  55% {
    filter: brightness(200%);
  }
  60.6% {
    filter: brightness(1000%);
  }
  61% {
    filter: brightness(100%);
  }
  70.6% {
    filter: brightness(1000%);
  }
  71% {
    filter: brightness(200%);
  }

  100% {
    filter: brightness(100%);
  }
}
