@import "./mixins.scss";

.footer {
  color: #fff;
  position: relative;
  padding: 2rem;
  margin: 2rem;
  @include maxw(628) {
    margin: 1rem;
  }

  &__item {
    & h3 {
      font-size: 3.2rem;
      line-height: 3.2rem;
      font-weight: 600;
      color: #fff;
      letter-spacing: -2px;
      // white-space: nowrap;
      text-align: center;
      margin-bottom: 1rem;
      @include maxw(496) {
        font-size: 2.6rem;
        line-height: 3rem;
      }
    }

    & p {
      font-size: 1.8rem;
      line-height: 1.8rem;
      font-weight: 400;
      text-align: center;
      margin-bottom: 2rem;
      @include maxw(496) {
        font-size: 1.6rem;
        line-height: 2rem;
      }
    }

    & .contact-button {
      display: block;
      color: #fff;
      max-width: 20rem;
      text-align: center;
      margin: 2rem auto 4rem auto;
      font-size: 1.8rem;
    }
  }

  &-content {
    color: #858585;
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 400;
    max-width: 700px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
  }

  &-copyright {
    @include maxw(496) {
      font-size: 1.1rem;
    }
  }

  &__social-media {
    display: flex;
    margin: 0;
  }

  &__icon {
    margin-right: 1rem;
    & img {
      height: 16px;
    }

    &:hover {
      -webkit-filter: brightness(1000%);
      filter: brightness(1000%);
    }
  }
}
