@import "./mixins.scss";

.header {
  margin: 0 auto;
  padding-top: 8rem;
  position: relative;
  width: 100%;
  border-radius: 6px;
  background-color: #151728;
  height: 30rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  @include maxw(628) {
    height: 20rem;
    margin-bottom: 1rem;
  }

  &-image {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);

    @include maxw(544) {
      top: 0;
      transform: translate(-50%, 0);
      width: 150%;
    }
    @include maxw(380) {
      width: 180%;
    }
  }

  &-background {
    background-position: center center;
    background-size: cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  &-menu {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 6.4rem;
    width: 100%;
    background-color: #151728;
    margin-bottom: -1px;
    @include maxw(628) {
      height: 4.4rem;
    }
  }

  &-links {
    display: flex;
    margin: 0;
    margin-left: 20rem;
    position: absolute;
    bottom: 0;

    @include maxw(628) {
      margin-left: 2rem;
    }
  }

  &-link {
    padding: 2rem 1.6rem;
    font-size: 2rem;
    line-height: 2rem;
    color: #5c5e6e;
    transition: all 0.3s;
    text-transform: capitalize;
    border-bottom: 4px solid #151728;

    @include maxw(628) {
      font-size: 1.4rem;
      padding: 1rem 1.2rem;
      border-bottom: 4px solid #151728;
    }

    &:active {
      background-color: #8f94c0;
    }
    &:hover {
      border-bottom: 4px solid #1488fa;
      background-color: #1b1d2e;
      color: #fff;
    }

    &--active {
      border-bottom: 4px solid #1488fa;
      background-color: #1b1d2e;
      color: #fff;
    }
  }

  &-profile {
    // overflow: hidden;
    position: absolute;
    left: 2.4rem;
    bottom: 1.6rem;

    @include maxw(628) {
      left: 50%;
      bottom: 50%;
      transform: translate(-50%, 25%);
    }
  }

  &-photo {
    width: 100%;
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
    border: 3px solid #151728;
    @include maxw(628) {
      height: 10rem;
      width: 10rem;
    }
  }

  &-name {
    position: absolute;
    top: 4.5rem;
    right: -24rem;
    font-size: 2.4rem;
    text-shadow: 0 0 6px #151728;
    white-space: nowrap;
    @include maxw(628) {
      font-size: 2.2rem;
      top: 50%;
      right: 50%;
      transform: translate(50%, 140%);
    }
  }
}
