.hello {
  &-container {
    width: 100%;

    display: flex;
    justify-content: space-between;
  }

  &-left {
    width: 40%;
  }
  &-right {
    width: calc(60% - 2rem);
  }

  &-intro {
    &--body {
      font-size: 1.5rem;
      white-space: nowrap;
    }

    &--item {
      & + .hello-intro--item {
        margin-top: 1.4rem;
      }
      & span {
        & img {
          width: 16px;
          margin-right: 10px;
        }
      }

      & p {
        display: inline-block;
        margin: 0;
        & span {
          color: #1488fa;
          & a {
            color: #1488fa;
          }
        }
      }
    }
  }

  &-message {
    & textarea {
      width: 100%;
      resize: none;
      margin-bottom: 2rem;
      border-radius: 4px;
      border: 1px solid #1b1d2e;
      padding: 1rem;
      background-color: #1b1d2e;
      color: #fff;
      font-family: FontX, Helvetica, sans-serif;
      font-size: 1.6rem;
      &::placeholder {
        color: #1488fa;
      }
      &:focus {
        outline: none;
        border: 1px solid #1487fa;
      }
    }

    &-wrapper {
      display: flex;
    }
    &-email {
      width: 30%;
      border-radius: 4px;
      border: 1px solid #1b1d2e;
      padding: 1rem;
      background-color: #1b1d2e;
      color: #fff;
      &::placeholder {
        color: #1488fa;
      }
      &:focus {
        outline: none;
        border: 1px solid #1487fa;
      }
    }

    &-response-box {
      background-color: #1b1d2e;
      border-radius: 4px;
      padding: 1rem;
      margin-top: 2rem;
      display: none;

      & p {
        font-size: 1.6rem;
        margin: 0;
      }
      &-success {
        color: greenyellow;
      }

      &-error {
        color: rgb(255, 0, 98);
      }

      &-warning {
        color: orange;
      }
    }

    &-btn {
      background-color: #1488fa;
      border: none;
      color: #fff;

      box-shadow: 0 0 20px #1b86f9;
      border-radius: 4px;
      padding: 1rem 2rem;
      display: block;
      margin-left: auto;
      outline: none;
      transition: all 0.3s;
      &:hover {
        box-shadow: none;
      }
    }
  }
}

.card {
  background-color: #151728;

  border-radius: 6px;
  margin-bottom: 2rem;

  &-padding {
    padding: 2rem;
  }

  &-heading {
    margin: 0;
    margin-bottom: 2rem;
    color: #5c5e6e;
  }
  &-img {
    width: 100%;

    // border-top-left-radius: 6px;
    // border-top-right-radius: 6px;
  }
}
