@import "./mixins.scss";

.latest-posts {
  padding: 0 2rem 2rem 2rem;
}

.latest-post {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #262a42;
  margin: 0;
  padding-left: 1rem;

  transition: all 0.3s;
  &:hover {
    border-radius: 4px;
    background-color: #262a42;
  }

  &-title {
    color: #c3c5d5;
    font-size: 1.6rem;
    margin: 1rem;
  }
  &-body {
    display: flex;
    align-items: center;
  }
  &-img {
    height: 1.6rem;
    width: 1.6rem;
    margin-right: 1rem;
  }
}
