.latest {
  padding: 0;
  padding-top: 2rem;

  &-heading {
    padding-left: 2rem;
  }

  &-body {
    padding: 2rem;
  }

  &-title {
    color: #fff;
    font-size: 2rem;
  }

  &-content {
    color: #fff;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    & p {
      margin: 0;
    }
  }

  &-date {
    & img {
      height: 1.6rem;
      margin-right: 1rem;
    }
    & span {
      font-size: 1.3rem;
    }
  }

  &-details {
    display: flex;
    justify-content: flex-end;
  }

  &-btn {
    display: inline-block;
  }
}
