.tabs-container {
  width: 100%;
  max-width: 120rem;
  margin: 2rem auto;
  margin-top: 12rem;
  border-bottom: 1px solid #fa1e4e;
}

.tabs-list {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  margin: 1rem 0 -1px;
  padding: 0;
  padding: 3px 8px 0;
  font-size: 15px;
}

.tab {
  padding: 0.6rem 3rem;
  border: 1px solid #fa1e4e;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  display: inline-block;
  cursor: pointer;
  margin-right: -6px;
  margin-left: -6px;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 400;
  background-color: rgb(29, 29, 29);
}

.tab-active {
  background: #fa1e4e;
  color: #000;
  z-index: 5;
}
