.tabs-container {
  width: 100%;
  max-width: 120rem;
  margin: 2rem auto;
  margin-top: 12rem;
  //border-bottom: 1px solid #fa1e4e;
  position: relative;
}

.tabs-list {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  margin: 1rem 0 -1px;
  padding: 0;
  padding: 3px 8px 0;
  font-size: 15px;
}

.tab {
  padding: 0.6rem 3rem;
  border: 1px solid #fa1e4e;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 12px;
  display: inline-block;
  cursor: pointer;
  margin-right: -2px;
  //margin-left: -6px;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 400;
  background-color: rgb(29, 29, 29);
  &:hover {
    background-color: #220d1a;
  }
}

.tab-line {
  height: 1px;
  background-image: linear-gradient(90deg, #fa1e4e, transparent);
  bottom: -1px;
  position: absolute;
  left: 0;
  right: 0;
}

.tab-active {
  background: #fa1e4e;
  color: #000;
  z-index: 5;
  &:hover {
    background: #fa1e4e;
  }
}
